/data
/regenmaps.bat
/regenmapsgs.bat
/test1_gs.html
/test1_rover.html
/test2_gs.html
/test2_rover.html
/test3_gs.html
/test3_rover.html
/test4_gs.html
/test4_rover.html
/test5_gs.html
/test5_rover.html